services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - /app/data/projects/deye5NEW/config/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log

  deye_inverter_mqtt:
    image: ghcr.io/niklaskoskowski/deye-inverter-mqtt:2026.01.1
    container_name: deye-inverter-mqtt
    restart: unless-stopped
    env_file:
      - /app/data/projects/deye5NEW/config/deye.env
    depends_on:
      - mqtt

  mqtt_sql_forwarder:
    image: ghcr.io/niklaskoskowski/deye-mqtt-sql-forwarder:latest
    container_name: deye-mqtt-sql-forwarder
    restart: unless-stopped
    env_file:
      - /app/data/projects/deye5NEW/config/forwarder.env
    depends_on:
      - mqtt

volumes:
  mosquitto_data:
  mosquitto_log:
